tmp
auto
*~
*.aux
*.dvi
*.bbl
*.blg
*.dvi
*.log
*.out
*.toc
src/*.o
doc/diagramas/2.session
doc/diagramas/9.session
doc/progtalk.pdf
libre/actividades.pdf
libre/carta-acepta.pdf
libre/informe_tutor.pdf
libre/memoria.pdf
src/Absolute.cpp
src/Absolute.h
src/Event.cpp
src/Event.h
src/Instance.cpp
src/Instance.h
src/MSC.cpp
src/MSC.h
src/Message.cpp
src/Message.h
src/Receipt.cpp
src/Receipt.h
src/Relative.cpp
src/Relative.h
src/Sending.cpp
src/Sending.h
src/Timeref.cpp
src/Timeref.h
src/Timestamp.cpp
src/Timestamp.h
src/Timestg.cpp
src/Timestg.h
